<!DOCTYPE html>
<html ng-app="twitchApp">

<head>
    <meta charset="UTF-8">
    <title>Angular TwitchTV Viewer FCC Exercise</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/style.css'>
</head>

<body>
    <div class="container-fluid">
        <div class="row" ng-controller="StreamController as streamCtrl">
            <div class="row">
                <button class="btn btn-primary" ng-click="streamCtrl.getFaves()">Get Streams!</button>
                <button class="btn btn-primary" ng-click="streamCtrl.getForGame()">Get For Game!</button>
            </div>
            <div class="row" ng-repeat="stream in streamCtrl.streams">
                <ng-include src="'stream.html'"></ng-include>
            </div>
        </div>

    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js'></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="js/index.js"></script>
</body>

</html>
