<!DOCTYPE html>
<html ng-app="twitchApp">

<head>
    <meta charset="UTF-8">
    <title>Angular TwitchTV Viewer FCC Exercise</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel='stylesheet' href='css/style.css'>
</head>

<body layout="column">

    <!-- Container #1 (see wireframe) -->
    <md-toolbar layout="row">
        <h1>Twitch TV - Angular App</h1>
    </md-toolbar>

    <div flex layout="row">
        <md-content flex id="content">

            <div class="row" ng-controller="StreamController as streamCtrl">
                <!-- game select -->
                <div class="md-padding" ng-cloak>
                    <div>
                        <div layout="row">
                            <md-input-container>
                                <label>Game</label>
                                <md-select ng-model="streamCtrl.game">
                                    <md-option ng-repeat="g in streamCtrl.possibleGames" value="{{g}}">
                                        {{g}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <md-button class="md-raised md-primary" ng-click="streamCtrl.getFaves()">Get Streams!</md-button>
                    <md-button class="md-raised md-primary" ng-click="streamCtrl.getForGame()">Get for Game!</md-button>
                </div>

                <md-content id='master-stream-row' class='stream-row well row'>
                    <md-list>

                        <md-list-item class="md-3-line" ng-repeat="stream in streamCtrl.streams">
                            <ng-include src="'stream.html'"></ng-include>
                        </md-list-item>
                    </md-list>
                </md-content>

            </div>
        </md-content>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="js/index.js"></script>
</body>

</html>
